/* home.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  /* Container styles */
  .container{
    display: flex;
    flex-direction: column;
    padding: 0em 3em;
    max-width: 50%;
  }
  .container h1 {
    color: rgb(21, 85, 2);
    font-size: 3em;
    margin-bottom: 0em;
  }
  .container h3{
    margin-top: 0em;
  }
  /* Card container styles */
  .card-container {
    padding: 7em 0em;
    background-image: url('../assets/pexels-karolina-grabowska-4202926.jpg');
    background-position: center;
    background-size: cover;
    height: 50vh;
  }
  
  .card-container h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
  .card-container h3 {
    font-size: 1.5em;
    font-weight: 400;
  }

  /* Image styles */
  .image-field{
    display: flex;
    justify-content: center;
  }
  .image-field img {
    max-width: 300px;
    margin-top: 1em;
  }
  .divide-text{
    text-align: center;
    font-size: medium;
    margin-top: 2em;
    margin-bottom: 0;
  }
  /* Main content styles */
  .main-content {
    display: flex;
    justify-content: space-around;
    margin: 5em 5em 6em 4em;
  }
  
  /* Features section styles */
  .features {
    display: flex;
    flex-direction: column;
    max-width: 30.33%;
    border-radius: 1em;
    opacity: 0; /* Initial opacity for fade-in animation */
    transform: translateY(20px); /* Initial position for translateY animation */
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* box-shadow: 0px 2px 5px 0px; */
  }
  .features:hover{
    box-shadow: 0px 4px 10px 0px;
    transition: 0.2s;
  }
  .features-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: larger;
    padding: 0em 2em;
  }
  .features-container h2{
    margin-bottom: 8px;
  }
  .animate-fadeInLeft {
    opacity: 1;
    transform: translateY(0);
  }
  .animate-fadeInUp {
    opacity: 1;
    transform: scale(1);
  }

  
  /* Responsive styles */
  @media (max-width:1095px){
    .features{
      flex-direction: row;
      max-width: 100%;
      margin:1em 0em;
    }
    .main-content{
      flex-direction: column;
      
      margin: 0;
      padding: 1em 3em;
    }
    .image-field img{
      margin-top: 0;
    }
    .features-container{
      padding: 0 1em;
      text-align: justify;
    }
  }
  @media (max-width:832px){
    .features{
      flex-direction: column;
    }
    .image-field img{
      max-width: 80%;
      margin-top: 1em;
    }
    .container{
      max-width: 100%;
    }
    .features-container{
      text-align: justify;
    }
    .features-container h2{
      text-align: center;
      padding: 0 1em;
      margin-bottom: 7px;
    }
    .features-container p{
      padding: 0 1em;
    }
    .card-container{
      height: 50vh;
      padding-top:1em;
    }
    .divide-text{
      padding: 0em 1em;
    }
  }