/* Base styles */
.navbar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: white;
}
.logo {
    max-width: 125px;
    height: auto;
    border-radius: 10px;
}

.logo:hover {
    cursor: pointer;
}

.logos {
    display: flex;
    align-items: center;
}

h1,
.capB {
    margin-top: 1.3em;
    color: rgb(21, 85, 2);
    animation: fadeIn 2s ease-in-out infinte;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 2em;
}

.navbar ul a {
    text-decoration: none;
    color: black;
    font-size: large;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar ul a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(235, 157, 13);
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar ul a:hover::before {
    width: 100%;
    left: 0;
}

.navbar ul a:hover {
    /* color: #f0690f; */
    transform: translateY(-2px);
}

/* dropdown menu  */
.drop-head:hover{
    color:rgb(235, 157, 13);
}

.dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color:white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* margin-top: 5px; */
}
/* .dropdown:hover{
    border-top: 1px solid black;
    border-radius: 5px;
    padding:3px 0px;
    transition: 0.5s;
} */

.dropdown li{
    padding: 10px 20px;
}

.nav-toggle{
    visibility: hidden;
    background: none;
    border: none;
    cursor: pointer;
}
 li{
    list-style: none;
}

/* Media query for screens less than 800px */
@media (max-width: 800px) {
    .logos {
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 1em;
    }
    .logos h1{
        margin-top:0;
    }
}
@media (max-width:680px){
    .nav-container{
        margin:0em 1em;
    }
    .dropdown li{
        font-size: 1px;
        padding: 2px 2px;
    }
}
@media screen and (max-width:720px){
    .nav-toggle{
        visibility: visible;
        cursor: pointer;
        padding: 0.5em 2em 0.5em 0.5em;
    }
    
    .nav-container{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-container.open{
        display: flex;
        color: white;
        background-color: black;
        border-radius: 5px;
        padding:1em 0em;
    }
    .nav-list{
        flex-direction: column;
        gap: 1em;
    }
    .nav-list li a{
        color: white;
    }
    .dropdown{
        background-color: black;
        padding: 1em 1em 1em 1em;
        border-radius: 2px;
    }
    h1.capB{
        margin-top:0.5em;
    }
}
